.chart-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Center the chart with auto margins */
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.2em;
}
